.cardContainer {
    background-color: white;
    height: min-content;
    width: min-content;
    border-radius: 10px;
    border: 2px solid black;

    .cardImg {
        margin: 10px;
        width: 150px;
    }
}

.cardBack {
    width: 170px;
    border-radius: 10px;
    border: 2px solid black;
}