.cardContainer {
    background-color: white;
    height: min-content;
    width: min-content;
    border-radius: 10px;
    border: 1px solid grey;

    .cardImg {
        margin: 10px;
        width: 150px;
    }
}

.cardBack {
    width: 170px;
    border-radius: 10px;
    border: 1px solid grey;
}